PORT=5000
# MONGO_URI es opcional. Si no se provee, la app guardará mensajes en un archivo JSON local en data/messages.json
MONGO_URI=mongodb://localhost:27017/aire_express
ADMIN_SECRET=admin123

# Opciones opcionales para Nodemailer (Envío de Email)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu-correo@gmail.com
EMAIL_PASS=tu-contraseña-de-aplicación
EMAIL_RECEIVER=info@expresshvac.com
